# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
 

# misc
.DS_Store
.env
~*
npm-debug.log 

bin/
debug/
obj/ 

staticDomains/
/.vs/SappyWCF2017/v15
/.vs/SappyWCF/v15/.suo
